@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@page {
  size: A4;
  margin: 0mm;
}

@media print {
  /* this class is added to elements that are not to be included in the print preview */
  .no-print {
    display: none !important;
  }
  /* this class is to be added to the resume component to adjust its styles for printing */
   .resume-print {
      width: auto !important;
      position: initial !important;
    }
}
